/* === UTILS === */
/* Logo */
.logo {
    background-image: url("#{resource['_default:images/favicon/android-chrome-192x192.png']}");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
}

.logo.large {
    background-image: url("#{resource['_default:images/favicon/android-chrome-512x512.png']}");
}

.logo.medium {
    background-image: url("#{resource['_default:images/favicon/android-chrome-192x192.png']}");
}

.logo.small {
    background-image: url("#{resource['_default:images/favicon/android-chrome-96x96.png']}");
}

/* Person Avatar */
.person-avatar {
    object-fit: cover;
}

.person-avatar.large {
    width: 288px !important;
    height: 288px !important;
}

.person-avatar.medium {
    width: 192px !important;
    height: 192px !important;
}

.person-avatar.small {
    width: 96px !important;
    height: 96px !important;
}

.person-avatar.tiny {
    width: 64px !important;
    height: 64px !important;
}

.person-avatar.mini {
    width: 48px !important;
    height: 48px !important;
}

/* Hidden */
.hidden {
    display: none !important;
}

/* Text Overflow */
.text-overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Text Strong */
.text-strong {
    font-weight: bold;
}

/* === STRUCTURE === */
.pusher {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

/* === HEADER === */
header.header .ui.menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

header.header .header-limiter {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Media Query */
@media only screen and (max-width: 768px) {
    header.header #sidebar-menu-button .text {
        display: none;
    }
}

/* === SIDEBAR === */
/* Close */
nav.sidebar .close-container {
    display: block;
    height: 20px;
    padding: 1px;
}

nav.sidebar .close-container .close {
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 150ms linear;
}

nav.sidebar .close-container .close:after,
nav.sidebar .close-container .close:before {
    content: "";
    position: absolute;
    left: 8px;
    height: 18px;
    width: 2px;
    background-color: #333333;
    transition: background-color 150ms linear;
}

nav.sidebar .close-container .close:after {
    transform: rotate(-45deg);
}

nav.sidebar .close-container .close:before {
    transform: rotate(45deg);
}

nav.sidebar .close-container .close:hover {
    opacity: 1;
}

nav.sidebar .close-container .close:hover:after,
nav.sidebar .close-container .close:hover:before {
    background-color: #db2828;
}

/* Avatar Message */
nav.sidebar #sidebar-avatar-error {
    padding: 5px;
}

/* Avatar */
nav.sidebar .avatar {
    position: relative;
    max-width: 205px;
    margin: 0 auto 10px auto;
}

nav.sidebar .avatar .avatar-edit,
nav.sidebar .avatar .avatar-save {
    position: absolute;
    z-index: 1;
    top: 25px;
}

nav.sidebar .avatar .avatar-edit {
    right: 13px;
}

nav.sidebar .avatar .avatar-save {
    left: 1px;
}

nav.sidebar .avatar .avatar-edit input {
    display: none;
}

nav.sidebar .avatar .avatar-edit input + label,
nav.sidebar .avatar .avatar-save {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    font-weight: normal;
    font-size: 1.20em;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.2s ease-in-out;
}

nav.sidebar .avatar .avatar-edit input + label:hover,
nav.sidebar .avatar .avatar-save:hover {
    background-color: #f1f1f1;
    border-color: #d6d6d6;
}

nav.sidebar .avatar .avatar-edit input + label > i,
nav.sidebar .avatar .avatar-save > i {
    position: absolute;
    top: 7px;
    right: 0;
    left: 1px;
    margin: auto;
    color: #757575;
    text-align: center;
}

nav.sidebar .avatar .avatar-preview {
    position: relative;
    width: 192px;
    height: 192px;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

nav.sidebar .avatar .avatar-preview > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

/* Name & Surname */
nav.sidebar .name-surname {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* === CONTENT === */
.content {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

/* === PRELOADER === */
/* Structure */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #ffffff;
}

.preloader .preloader-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
}

.preloader .preloader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.preloader .preloader-content * {
    display: block;
    margin: 0 auto;
}

/* Logo */
.preloader .logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 45px;
    height: 45px;
}

/* Life */
.preloader .life {
    position: relative;
    width: 150px;
    height: 150px;
}

.preloader .life svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.preloader .life svg polyline {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.preloader .life svg polyline.back {
    stroke: rgba(0, 181, 173, 0.3);
}

.preloader .life svg polyline.front {
    stroke: #00b5ad;
    stroke-dasharray: 12, 36;
    stroke-dashoffset: 48;
    animation: life-dash 1.25s linear infinite;
}

@keyframes life-dash {
    62.5% {
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

/* Loading */
.preloader .preloader-text {
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}

.preloader .preloader-text .preloader-text-dots {
    display: inline-block;
    font-size: 1.25em;
}

.preloader .preloader-text .preloader-text-dots span {
    display: inline-block;
    animation: text-dot-blink 1.25s linear infinite;
    animation-fill-mode: both;
}

.preloader .preloader-content span:nth-child(2) {
    animation-delay: 0.2s;
}

.preloader .preloader-content span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes text-dot-blink {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

/* === NOSCRIPT === */
/* Structure */
noscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #bd3f32;
    background-image: linear-gradient(to right, #bd3f32, #cb356b);
    z-index: 1001;
}

noscript .noscript-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    background-color: transparent;
    overflow: auto;
}

noscript .noscript-content {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: auto;
    background-color: transparent;
}

/* Message */
noscript .ui.icon.message .header {
    text-transform: uppercase;
}

noscript .ui.icon.message .js.icon {
    color: #f7e018;
}

/* Media Query */
@media only screen and (max-width: 768px) {
    noscript .ui.icon.message {
        font-size: 1.28571429em;
    }
}

/* === COOKIE === */
a.cc-btn.cc-dismiss {
    border-color: rgb(35, 122, 252) !important;
    transition: border-color 250ms linear, color 250ms linear,
    background-color 250ms linear;
}

a.cc-btn.cc-dismiss:hover {
    border-color: rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(35, 122, 252) !important;
}

/* === FOOTER === */
/* Structure */
footer.footer {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;
    background-color: #292c2f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

footer.footer .footer-limiter {
    display: flex;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

footer.footer .footer-left,
footer.footer .footer-center,
footer.footer .footer-right {
    position: relative;
    display: block;
    float: left;
}

footer.footer .footer-center,
footer.footer .footer-right {
    border-left: 2px #bc994e dashed;
}

/* = Footer left = */
footer.footer .footer-left {
    width: 35%;
    right: 65%;
}

/* Logo */
footer.footer .footer-left .logo {
    display: block;
    width: 100px;
    height: 100px;
}

/* Vendor */
footer.footer .footer-left .credits {
    display: block;
    margin: 20px 0 8px;
    padding: 0;
    color: #bc994e;
    font-size: 1.1em;
}

footer.footer .footer-left .credits span {
    display: inline-block;
    font-size: 1.15em;
    color: #ffffff;
}

/* Copyright */
footer.footer .footer-left div.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    font-size: 1em;
    color: #8f9296;
}

/* = Footer Center = */
footer.footer .footer-center {
    left: 35%;
    width: 45%;
}

footer.footer .footer-center .element {
    display: block;
}

footer.footer .footer-center i {
    width: 50px;
    height: 50px;
    margin: 10px 15px;
    border-radius: 50%;
    font-size: 1.75em;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    background-color: #33383b;
}

footer.footer .footer-center p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    color: #ffffff;
    font-size: 1.4em;
}

footer.footer .footer-center .ui.divider {
    width: 50%;
    margin: 0 0 0 1em;
}

footer.footer .footer-center .address {
    display: block;
    line-height: 2;
    font-weight: normal;
    font-size: 14px;
}

footer.footer .footer-center i.icon.map {
    color: #db2828;
}

footer.footer .footer-center i.icon.phone {
    color: #21ba45;
}

footer.footer .footer-center i.icon.envelope {
    color: #fbbd08;
}

/* = Footer Right = */
footer.footer .footer-right {
    left: 35%;
    width: 20%;
    padding-left: 10px;
    color: #ffffff;
}

/* Legal */
footer.footer .footer-right .legal {
    display: block;
    font-weight: bold;
    font-size: 1em;
}

footer.footer .footer-right .legal .item {
    display: block;
    margin: 1px;
}

footer.footer .legal .item:not(:last-child) {
    margin-bottom: 2px;
}

footer.footer .footer-right .legal a {
    display: inline-block;
    margin: 0;
    font-size: 1.1em;
    color: #fbbd08;
}

footer.footer .footer-right .legal a:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #fbbd08;
    opacity: 0.8;
    transition: width 0.2s linear;
}

footer.footer .footer-right .legal a:hover:after {
    width: 100%;
}

/* Made with Love */
footer.footer .footer-right .made-with-love {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    font-size: 1em;
    font-weight: bold;
}

footer.footer .footer-right .made-with-love i.icon.heart {
    color: #e31b23;
}

footer.footer .footer-right .made-with-love span {
    transition: color 0.2s linear;
}

footer.footer .footer-right .made-with-love:hover span:nth-of-type(1) {
    color: #009246;
}

footer.footer .footer-right .made-with-love:hover span:nth-of-type(2) {
    color: #f1f2f1;
}

footer.footer .footer-right .made-with-love:hover span:nth-of-type(3) {
    color: #ce2b37;
}

/* Media Query */
@media only screen and (max-width: 768px) {
    footer.footer {
        padding: 10px;
    }

    footer.footer .footer-limiter {
        display: block;
    }

    footer.footer .footer-left,
    footer.footer .footer-center,
    footer.footer .footer-right {
        display: block;
        float: none;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        text-align: center;
    }

    /* Footer Left */
    footer.footer .footer-left {
        padding-top: 10px;
    }

    footer.footer .footer-left .logo {
        width: 75px;
        height: 75px;
        margin: 0 auto;
    }

    footer.footer .footer-left .credits {
        font-size: 1em;
        margin: 10px 0 0 0;
    }

    footer.footer .footer-left .credits span {
        font-size: 1.2em;
    }

    footer.footer .footer-left div.copyright {
        position: static;
        text-align: left;
    }

    /* Footer Center */
    footer.footer .footer-center {
        text-align: left;
    }

    footer.footer .footer-center i {
        width: 40px;
        height: 40px;
        margin: 10px;
        line-height: 40px;
    }

    footer.footer .footer-center p {
        font-size: 1.25em;
    }

    /* Footer Right*/
    footer.footer .footer-right {
        padding: 0;
        border-left: none;
    }

    footer.footer .footer-right .made-with-love {
        position: static;
        margin-top: 5px;
    }
}

/* === SIGN IN === */
/* Structure */
.sign-in-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFC371;
    background-image: url("https://source.unsplash.com/1920x1080/?nature");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sign-in {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    background-color: transparent;
    overflow: auto;
}

.sign-in .content {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
    padding: 15px;
    background-color: transparent;
}

.sign-in .content .ui.piled.segment {
    margin-top: 0.5em;
}

.sign-in .content .ui.header i.icon {
    margin: 0;
}

.sign-in .content .sign-in-return {
    display: block;
    margin: 0 auto;
    width: 96px;
    height: 96px;
}

.sign-in .content .sign-in-return img {
    width: 100%;
    height: auto;
}

.sign-in .content #recover-button {
    display: block;
    width: 50%;
    margin: 0 auto;
}

/* Media Query */
@media only screen and (max-width: 768px) {
    .sign-in-fixed {
        background-image: linear-gradient(to right, #FFC371, #FF5F6D);
    }

    .sign-in .content {
        padding: 5px;
    }

    .sign-in .content #recover-button {
        width: 75%;
    }
}

@media only screen and (max-width: 481px) {
    .sign-in {
        padding: 0;
    }
}

/* === PRIVACY === */
.privacy-container {
    padding: 15px;
}

.privacy-container .ui.bulleted.list .item .content {
    display: initial;
    width: auto;
    max-width: none;
    margin: auto;
}

/* Media Query */
@media only screen and (max-width: 768px) {
    .privacy-container {
        padding: 5px;
    }
}

/* === COOKIE === */
.cookie-container {
    padding: 15px;
}

.cookie-container .ui.bulleted.list .item .content {
    display: initial;
    width: auto;
    max-width: none;
    margin: auto;
}

/* Media Query */
@media only screen and (max-width: 768px) {
    .cookie-container {
        padding: 5px;
    }
}

/* === RECOVER === */
.recover-container {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
    padding: 15px;
    background-color: transparent;
}

.recover-container .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fffbd5;
    background-image: url("https://source.unsplash.com/1920x1080/?nature");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

/* Media Query */
@media only screen and (max-width: 768px) {
    .recover-container {
        padding: 5px;
    }

    .recover-container .background {
        background-image: linear-gradient(to right, #fffbd5, #b20a2c);
    }
}

/* === PATIENTS === */